*{
  margin: 0px;
  padding: 1px;
  box-sizing: border-box;
  border: 1px solid red;
}

.cont{
  max-width: 60%;
  margin: 100px auto;
}

.subCont2{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.subCont2Box{
  flex-grow: 1;
  padding: 40px;
  text-align: left;

}
